header{
    background-color: palevioletred;
    
}
.nosotros{
    text-align: justify;
    line-height: 1cm
}



.contactenos{
    margin: auto;
    background-color: palevioletred;
}



 


